<% title 'Admin: Pages' %>

<div class="container section">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li class="is-active"><a href="#" aria-current="page">Pages</a></li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column">
      <h1 class="title is-1">
        Pages
      </h1>
    </div>
    <div class="column is-narrow">
      <%= link_to 'New Page', new_admin_page_path, class: 'button' %>
    </div>
  </div>

  <div class="box">
    <table class="table">
      <thead>
        <tr>
          <th>Title</td>
          <th>Published</td>
          <th style="width:1px"></th>
          <th style="width:1px"></th>
          <th style="width:1px"></th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
        <tr>
          <td><%= link_to page.title, edit_admin_page_path(page) %></td>
          <td><%= page.published? ? 'Yes' : 'No' %></td>
          <td>
            <% unless page.first? %>
              <%= form_for [:admin, page] do |f| %>
                <span class="icon">
                  <%= f.button '', name: 'page[position]',
                        value: page.position - 1,
                        title: "Move '#{page.title}' up",
                        class: 'fa fa-arrow-up icon-button' %>
                </span>
              <% end %>
            <% end %>
          </td>
          <td>
            <% unless page.last? %>
              <%= form_for [:admin, page] do |f| %>
                <span class="icon">
                  <%= f.button '', name: 'page[position]',
                        value: page.position + 1,
                        title: "Move '#{page.title}' down",
                        class: 'fa fa-arrow-down icon-button' %>
                </span>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= form_for [:admin, page], method: 'delete' do |f| %>
              <span class="icon">
                <%= f.button '',
                      title: "Delete '#{page.title}'",
                      class: 'fa fa-trash icon-button',
                      data: { confirm: 'Are you sure?' } %>
              </span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
