<h1 class="title is-1">Sign up</h1>

<div class="box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :first_name, class: 'label' %>
      <p class="control">
        <%= f.text_field :first_name, autofocus: true, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :last_name, class: 'label' %>
      <p class="control">
        <%= f.text_field :last_name, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :email, class: 'label' %>
      <p class="control">
        <%= f.email_field :email, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label' %>
      <p class="control">
        <%= f.password_field :password, autocomplete: "off", class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'label' %>
      <p class="control">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input' %>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <%= f.submit "Sign up", class: 'button is-primary' %>
      </p>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
