<% title 'Admin Dashboard' %>

<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column">
        <h1 class="title is-1" data-content="name">
          Admin Dashboard
        </h1>
      </div>
      <div class="column is-narrow">
        <%= link_to 'Visit Public Site', root_path, class: 'button' %>
      </div>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">Bulk import</h2>

      <p>
        You can bulk import statements from a CSV file by uploading it below. The
        CSV file <strong>must</strong> have a header row with <strong>company_name</strong>
        and <strong>statement_url</strong> columns.
      </p>

      <p>
      <%= form_tag(admin_bulk_upload_path, method: 'post', multipart: true) do %>
        <%= file_field_tag("csv", class: 'button is-light') %>
        <%= submit_tag("Upload", class: 'button is-primary', data: { disable_with: 'Please wait...' }) %>
      <% end %>
      </p>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">Compliance Stats</h2>
      <table data-content="minimum_compliance_requirements_stats" class="table">
        <tbody>
          <tr>
            <td>
              Link on front page
            </td>
            <td data-content="Percent link on front page">
              <%= @compliance_stats.percent_link_on_front_page %>%
            </td>
          </tr>
          <tr>
            <td>
              Signed by director
            </td>
            <td data-content="Percent signed by director">
              <%= @compliance_stats.percent_signed_by_director %>%
            </td>
          </tr>
          <tr>
            <td>
              Approved by board
            </td>
            <td data-content="Percent approved by board">
              <%= @compliance_stats.percent_approved_by_board %>%
            </td>
          </tr>
          <tr>
            <td>
              Yes to all minimum compliance questions
            </td>
            <td data-content="Percent fully compliant">
              <%= @compliance_stats.percent_fully_compliant %>%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">New Statements</h2>
      <% if @new_statements.any? %>
        <table data-content="new_statements" class="table">
          <tbody>
            <% @new_statements.each do |statement| %>
              <tr>
                <td>
                  <%= link_to statement.company.name, admin_company_statement_path(statement.company, statement) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        All statements are published
      <% end %>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">Broken URLs</h2>
      <% if @broken_urls.any? %>
        <table data-content="broken_urls" class="table">
          <tbody>
            <% @broken_urls.each do |statement| %>
              <tr>
                <td>
                  <%= link_to statement.company.name, admin_company_statement_path(statement.company, statement) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        No broken URLs
      <% end %>
    </div>
  </div>

</div>
