<% title 'Admin Dashboard' %>

<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column">
        <h1 class="title is-1" data-content="name">
          Admin Dashboard
        </h1>
      </div>
      <div class="column is-narrow">
        <%= link_to 'Visit Public Site', root_path, class: 'button' %>
      </div>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">Bulk import</h2>

      <p>
        You can bulk import statements from a CSV file by uploading it
        below. The CSV file <strong>must</strong> have a header row
        with <strong>company_name</strong>
        and <strong>statement_url</strong> columns.
        It <strong>may</strong> have a third
        column <strong>legislation</strong> whose
        values <strong>must</strong> match one of the exiting
        legislation types <%= legislation_name_list %>.
      </p>

      <p>
      <%= form_tag(admin_bulk_upload_path, method: 'post', multipart: true) do %>
        <%= file_field_tag("csv", class: 'button is-light') %>
        <%= submit_tag("Upload", class: 'button is-primary', data: { disable_with: 'Please wait...' }) %>
      <% end %>
      </p>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">New Statements (<%= @new_statements.count %>)</h2>
      <% if @new_statements.any? %>
        <table data-content="new_statements" class="table is-fullwidth">
          <tbody>
            <% @new_statements.each do |statement| %>
              <tr>
                <td>
                  <%= link_to statement.company.name, admin_statement_path(statement) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        All statements are published
      <% end %>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">Broken URLs (<%= @broken_urls.count %>)</h2>
      <% if @broken_urls.any? %>
        <table data-content="broken_urls" class="table is-fullwidth">
          <tbody>
            <% @broken_urls.each do |statement| %>
              <tr>
                <td>
                  <%= link_to statement.company.name, admin_statement_path(statement) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        No broken URLs
      <% end %>
    </div>
  </div>

</div>
