<%= form_for [:admin, company] do |f| %>

  <%= render 'errors/summary', { object: company } %>

  <div class="box">
    <div class="field">
      <%= f.label :name, 'Company name', class: 'label' %>
      <p class="control">
        <%= f.text_field :name, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :related_companies, 'Related companies', class: 'label' %>
      <p class="control">
        <%= f.text_field :related_companies, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <%= f.label :country_id, class: 'label' %>
      <p class="control">
        <div class="select is-fullwidth">
          <%= f.collection_select(:country_id, Country.order(:name).all, :id, :name, include_blank: true) %>
        </div>
      </p>
    </div>

    <div class="field">
      <%= f.label :industry_id, class: 'label' %>
      <p class="control">
        <div class="select is-fullwidth">
          <%= f.collection_select(:industry_id, Industry.order(:industry_code, :industry_group_code, :industry_code).all, :id, :deep_name, include_blank: true) %>
        </div>
      </p>
    </div>

    <div class="field">
      <%= f.label :bhrrc_url, 'BHRRC URL', class: 'label' %>
      <p class="control">
        <%= f.text_field :bhrrc_url, class: 'input' %>
      </p>
    </div>
  </div>

  <% if build_statement %>
    <h2 class="title is-h2">Statement</h2>
    <%= f.fields_for :statements,  company.statements.build do |f| %>
      <%= render partial: 'admin/statements/fields', locals: { f: f } %>
    <% end %>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit class: 'button is-primary' %>
    </div>
    <div class="control">
      <% if company.persisted? %>
        <%= link_to 'Cancel', admin_company_path(company), class: 'button' %>
      <% else %>
        <%= link_to 'Cancel', admin_companies_path, class: 'button' %>
      <% end %>
    </div>
  </div>

<% end %>
