<h1 class="title is-1">Forgot your password?</h1>

<div class="box">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, class: 'label' %>
      <p class="control">
        <%= f.email_field :email, autofocus: true, class: 'input' %>
      </p>
    </div>

    <div class="actions">
      <%= f.submit "Send me instructions", class: 'button is-primary' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
