<div class="explore_companies_results">
  <% statements.each do |statement| %>
    <div class="columns <%= statement.published? ? 'published' : 'draft'%>" data-content="company">
      <div class="column">
        <%= link_to(statement.company.name, company_path(statement.company), {'data-content': 'name'}) %>
      </div>
      <div class="column" data-content="country">
        <%= statement.country_name %>
      </div>
      <div class="column" data-content="sector">
        <%= statement.sector_name %>
      </div>
    </div>
  <% end %>
  <%= paginate statements %>
</div>
