<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column">
        <h2 class="title is-3"><%= link_to @statement.company.name, @statement.company, 'data-content' => "company-name" %></h2>
        <h3 class="title is-5"><%= @statement.date_seen %></h3>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column">
            <span class="label">Signed by Director</span>
          </div>
          <div class="column">
            <%= yes_no(@statement.signed_by_director) %>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <span class="label">Approved by Board</span>
          </div>
          <div class="column">
            <%= yes_no_not_explicit(@statement.approved_by_board) %>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <span class="label">Link on Front page</span>
          </div>
          <div class="column">
            <%= yes_no(@statement.link_on_front_page) %>
          </div>
        </div>
      </div>
    </div>

    <div class="browser-wrapper">
      <div class="browser-navigation-bar">
        <i></i>
        <i></i>
        <i></i>
        <%= link_to @statement.url, @statement.url %>
      </div>

      <div class="browser-container">
        <iframe src="<%= @statement.url %>" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
