<section class="hero is-dark-navy">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
          <h2 class="subtitle has-text-centered">
            Find out what companies worldwide
            are doing to eradicate modern slavery from their
            operations and supply chains. Explore company
            reports made under the UK Modern Slavery Act.
          </h2>

          <%= form_tag explore_path, method: :get, enforce_utf8: false do %>
            <div class="field has-addons">
              <p class="control is-expanded">
                <%= text_field_tag :company_name, params[:company_name],
                    class: 'input is-medium is-hero',
                    autofocus: true,
                    placeholder: 'Company' %>
              </p>
              <p class="control">
                <%= submit_tag 'Search', name: '', class: "button is-primary is-medium" %>
              </p>
            </div>
          <% end %>
        </div>
        <div class="column is-one-quarter">
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-quarter has-text-centered">
          <a href="https://business-humanrights.org/">
            <span class="powered-by">Powered by</span> <%= image_tag 'bhrrc.png', alt: "Business & Human Rights Resource Centre" %>
          </a>
        </div>
        <div class="column is-half">
          <h2 class="subtitle has-text-centered">
            <%= link_to "Browse all statements", explore_path %>
          </h2>
        </div>
        <div class="column is-one-quarter has-text-centered">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns has-text-centered" data-content="stats_counters">
      <div class="column">
        <p class="title is-1" data-content="statements"><%= @statement_stats.statements_count %></p>
        <p class="subtitle is-3"><%= "statement".pluralize(@statement_stats.statements_count) %></p>
        <% if numbers_explained_page %>
          <p class="subtitle">
            <%= link_to "more information", page_path(numbers_explained_page) %>
          </p>
        <% end %>
      </div>
      <div class="column">
        <p class="title is-1" data-content="industries"><%= @statement_stats.industries_count %></p>
        <p class="subtitle is-3"><%= "industry".pluralize(@statement_stats.industries_count) %></p>
      </div>
      <div class="column">
        <p class="title is-1" data-content="companies"><%= @statement_stats.companies_count %></p>
        <p class="subtitle is-3"><%= "company".pluralize(@statement_stats.companies_count) %></p>
        <% if numbers_explained_page %>
          <p class="subtitle">
            <%= link_to "more information", page_path(numbers_explained_page) %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column"></div>
      <div class="column">
        <%= link_to 'Submit a statement', new_company_path,
          class: 'button is-medium is-primary' %>
      </div>
      <div class="column">
        <%= link_to modernslaveryregistry_path(format: :csv),
          class: 'button is-medium is-primary' do
        %>
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>Download statements</span>
        <% end %>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>

<section class="section is-dark-navy">
  <div class="stats-summary container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <h3 class="title is-3 has-text-centered is-turquoise-text">Compliance with minimum requirements</h3>

      <% if numbers_explained_page %>
        <h2 class="subtitle has-text-centered">
          <%= link_to "more information", page_path(numbers_explained_page) %>
        </h2>
      <% end %>

      <div class="columns">

        <div class="column is-narrow">
          <div class="compliance-stat">
            <label class="donut-legend">
              Statements published on the company's website with a link on the home page.
            </label>
            <div class="donut">
              <div id="link_on_front_page_donut" class="donut-container">
                <canvas width="105" height="105"></canvas>
                <div class="donut-overlay">
                  <label class="donut-label" />
                </div>
              </div>
            </div>
          </div>
          <div class="compliance-stat">
            <label class="donut-legend">
              Signed by director or equivalent.
            </label>
            <div class="donut">
              <div id="signed_by_director_donut" class="donut-container">
                <canvas width="105" height="105"></canvas>
                <div class="donut-overlay">
                  <label class="donut-label" />
                </div>
              </div>
            </div>
          </div>
          <div class="compliance-stat">
            <label class="donut-legend">
              Explicit approval by the board is included in the statement.
            </label>
            <div class="donut">
              <div id="approved_by_board_donut" class="donut-container">
                <canvas width="105" height="105"></canvas>
                <div class="donut-overlay">
                  <label class="donut-label" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-narrow compliance-curly-brace">}</div>

        <div class="column">
          <div class="compliance-stat fully-compliant-stat">
            <div class="donut mega-donut">
              <div id="fully_compliant_donut" class="donut-container">
                <canvas width="340" height="340"></canvas>
                <div class="donut-overlay">
                  <label class="donut-label" />
                </div>
              </div>
            </div>
            <label class="donut-legend">
              Meet all minimum as requirements set out in the UK Modern Slavery Act.
            </label>
          </div>
        </div>

      </div>
  </div>

</section>

<script>
function renderDonut(containerId, percentage) {
  var $container = $(document.getElementById(containerId))
  var $canvas = $container.find('canvas')
  new Chart($canvas[0].getContext("2d"), {
    type: "doughnut",
    data: {
      datasets: [
        {
          data: [percentage, 100 - percentage],
          backgroundColor: ["rgba(0,137,134,1)", "rgba(0,0,0,0)"],
          borderColor: ["rgba(0,137,134,1)", "rgba(0,137,134,1)"]
        }
      ]
    },
    options: {
      rotation: Math.PI,
      cutoutPercentage: 75,
      responsive: false
    }
  });
  $container.find('.donut-label').text(percentage + '%')
}

renderDonut('link_on_front_page_donut', <%= @compliance_stats.percent_link_on_front_page %>)
renderDonut('signed_by_director_donut', <%= @compliance_stats.percent_signed_by_director %>)
renderDonut('approved_by_board_donut', <%= @compliance_stats.percent_approved_by_board %>)
renderDonut('fully_compliant_donut', <%= @compliance_stats.percent_fully_compliant %>)

</script>

<% if admin? %>

<section class="section is-dark-navy">
  <div class="stats-summary container">
    <h3 class="title is-3 has-text-centered is-turquoise-text">Statements added over time</h3>

      <div class="columns">

        <div id="total_statements_over_time" class="column">
          <canvas width="340" height="140"></canvas>
        </div>

      </div>
  </div>

</section>

<script>
function renderTotalStatementsOverTime(totalByMonth) {
  var $container = $(document.getElementById('total_statements_over_time'))
  var $canvas = $container.find('canvas')
  new Chart($canvas[0].getContext("2d"), {
    type: "line",
    data: {
      "labels": totalByMonth.map(function(month) { return month.label }),
      "datasets":[{
        "label":"Statements",
        "data": totalByMonth.map(function(month) { return month.statements }),
        "fill":false,
        "borderColor":"rgb(75, 192, 192)",
        "lineTension": 0.1
      }]
    },
    options: {
      legend: { display: false }
    }
  });
}

renderTotalStatementsOverTime(<%= raw @statement_stats.total_statements_over_time.to_json %>)

</script>

<% end %>



<section class="section media-endorsements">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h3 class="title is-3 has-text-centered">In the media</h3>
        <figure class="image is-128x128 media-coverage">
          <a href="https://blogs.wsj.com/riskandcompliance/2017/03/14/the-morning-risk-report-teething-problems-complying-with-u-k-modern-slavery-act/">
            <%= image_tag 'Carbon_WSj.png', alt: "Wall Street Journal", class: 'media-coverage' %>
          </a>
        </figure>
        <figure class="image is-128x128 media-coverage">
          <a href="https://www.ft.com/content/d8147d76-e22d-11e5-9217-6ae3733a2cd1">
            <%= image_tag 'FTCarbon.png', alt: "Financial Times", class: 'media-coverage' %>
          </a>
        </figure>
      </div>
      <div class="column">
        <h3 class="title is-3 has-text-centered">Endorsements</h3>
        <div class="Wallop Wallop--slide">
          <div class="Wallop-pagination">
            <button class="Wallop-dot Wallop-dot--current">Endorsement 1</button>
            <button class="Wallop-dot">Endorsement 2</button>
            <button class="Wallop-dot">Endorsement 3</button>
            <button class="Wallop-dot">Endorsement 4</button>
            <button class="Wallop-dot">Endorsement 5</button>
            <button class="Wallop-dot">Endorsement 6</button>
            <button class="Wallop-dot">Endorsement 7</button>
            <button class="Wallop-dot">Endorsement 8</button>
            <button class="Wallop-dot">Endorsement 9</button>
            <button class="Wallop-dot">Endorsement 10</button>
            <button class="Wallop-dot">Endorsement 11</button>
          </div>
          <div class="Wallop-list">
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Joanna Ewart-James",
                title: "Executive Director, Freedom United",
                quote: "This Registry is a fantastic resource for everyone in business, civil society and government wanting to eradicate modern slavery. Millions of activists can now use the Registry to review companies' efforts and we will be highlighting the better-informed company statements as examples of analysis and commitment to be emulated."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Cindy Berman",
                title: "Director, Ethical Trading Initiative",
                quote: "The Business and Human Rights Resource Centre provides the only independent, credible, free, open, and accessible Central Registry for Modern Slavery Statements that is accountable to the public interest. ETI feels it is vital that there is an independent platform that enables key stakeholders to review and analyse Statements to help drive a race to the top."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Josh Boswell",
                title: "Investigative Journalist, The Times",
                quote: "This registry is an important tool for journalists who are monitoring company statements under the Act. It is critical that these statements are accessible in one place so we can identify companies that aren't meeting the mark in eradicating slavery."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Marilyn Croser",
                title: "Director, CORE Coalition",
                quote: "The Registry is an invaluable resource for anyone interested in corporate action on slavery and human trafficking. As more statements are published, a tool that enables company responses to be tracked and compared is essential."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Erinch Sahan",
                title: "Head of Private Sector Team, Oxfam",
                quote: "The Resource Centre’s Registry makes it far less resource intensive to learn from what others are doing and to identify which companies are being proactive. This is one crucial step towards allowing companies, investors and wider stakeholders to work together to innovate business models which allow people to work their way out of poverty."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Nick Grono",
                title: "CEO, The Freedom Fund",
                quote: "This free, transparent and accessible registry is an invaluable tool for the public, civil society, parliamentarians, the government, investors and others to review and analyse the statements companies are making under the Modern Slavery Act. It is vital in helping us all ensure companies are doing all they can to eliminate the scourge of modern slavery."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Jon Hoare",
                title: "Former Director of Policy, ShareAction",
                quote: "The Modern Slavery Act needs responsible investors to hold companies to account on their actions to tackle the risks of forced labour, celebrating the leaders and putting pressure on the laggards. The Registry is a fantastic tool for investors, and their advisers, to compare companies' statements, and encourage the race to the top."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Jo Swinson",
                title: "Business Minister 2012-15",
                quote: "Transparency is an important tool to drive responsible corporate behaviour and good governance. The Registry is a useful resource to help investors, commentators, the public and companies themselves to understand the progress business is making in upholding vital human rights and consigning slavery to the history books where it belongs."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Francis West",
                title: "Former Head of Private Sector Policy & Advocacy, UNICEF UK",
                quote: "The purpose of the Modern Slavery Act is to prevent modern slavery – including that of children – in supply chains by enabling the public, consumers, investors and employees to know what steps that organisations are taking to address the issue. Without the transparent, free-to-access, open source registry that BHRRC provides, this would be incredibly challenging. We fully support this initiative."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Tony Fisher",
                title: "Chair of the Human Rights Committee, The Law Society",
                quote: "The Registry is a critical instrument in monitoring statements relating to modern slavery. It is vital in holding companies to account, and making sure they follow the spirit, as well as the letter, of the law."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Rev. David Schilling",
                title: "Interfaith Center on Corporate Responsibility",
                quote: "Today, investors are much more aware of the forced labour risks faced by workers and the risk that companies face from poorly managed supply chains where human rights abuses may tarnish a company’s reputation and adversely impact long-term value. The Registry allows investors to integrate and assess the risk of modern slavery in their portfolios. ICCR members appreciate the Business & Human Rights Resource Centre providing this service for investors and other stakeholders."
              } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/governance_committee_members" %>
