<section class="is-dark-navy">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
          <h2 class="subtitle has-text-centered">
            Find out what companies
            are doing to eradicate modern slavey from their
            operations and supply chains. Explore company
            reports made under the UK Modern Slavery Act.
          </h2>

          <%= form_tag explore_path, method: :get do %>
            <div class="field has-addons">
              <p class="control is-expanded">
                <%= text_field_tag :company_name, params[:company_name],
                    class: 'input is-medium is-hero',
                    placeholder: 'Company' %>
              </p>
              <p class="control">
                <%= submit_tag 'Search', class: "button is-primary is-medium" %>
              </p>
            </div>
          <% end %>
          <p class="has-text-right">
            <%= link_to "Browse all statements", explore_path %>
          </p>

        </div>
        <div class="column is-one-quarter"></div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="section">
    <div class="columns has-text-centered">
      <div class="column">
        <p class="title is-1"><%= Statement.count %></p>
        <p class="subtitle is-3">statements</p>
      </div>
      <div class="column">
        <p class="title is-1"><%= Sector.with_companies.all.length %></p>
        <p class="subtitle is-3">sectors</p>
      </div>
      <div class="column">
        <p class="title is-1"><%= Country.with_companies.all.length %></p>
        <p class="subtitle is-3">countries</p>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column">
        <%= link_to 'Submit a statement', new_company_statement_companies_path, class: 'button is-medium is-warning' %>
      </div>
    </div>
  </div>
</div>
