<div class="container profile">
  <div class="section profile-heading">
    <div class="columns">
      <div class="column is-6 name">
        <p class="tagline">
          Explore company statements under the UK Modern Slavery Act
        </p>
        <p><%= link_to 'Submit Statement', new_company_statement_companies_path, class: 'button is-medium' %></p>
      </div>
      <div class="column is-2 followers has-text-centered">
        <p class="stat-val"><%= Statement.count %></p>
        <p class="stat-key">statements</p>
      </div>
      <div class="column is-2 following has-text-centered">
        <p class="stat-val"><%= Sector.with_companies.all.length  %></p>
        <p class="stat-key">sectors</p>
      </div>
      <div class="column is-2 likes has-text-centered">
        <p class="stat-val"><%= Country.with_companies.all.length %></p>
        <p class="stat-key">countries</p>
      </div>
    </div>
  </div>

  <div class="section">
    <%= render partial: 'companies/search_form' %>
  </div>

  <div class="section">
    <%= render partial: 'statements/list', locals: { companies: @companies } %>
  </div>
</div>
