<section class="hero is-dark-navy">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
          <h2 class="subtitle has-text-centered">
            Find out what companies worldwide
            are doing to eradicate modern slavery from their
            operations and supply chains. Explore company
            reports made under the UK Modern Slavery Act.
          </h2>

          <%= form_tag explore_path, method: :get do %>
            <div class="field has-addons">
              <p class="control is-expanded">
                <%= text_field_tag :company_name, params[:company_name],
                    class: 'input is-medium is-hero',
                    autofocus: true,
                    placeholder: 'Company' %>
              </p>
              <p class="control">
                <%= submit_tag 'Search', class: "button is-primary is-medium" %>
              </p>
            </div>
          <% end %>
          <br>
          <h2 class="subtitle has-text-centered">
            <%= link_to "Browse all statements", explore_path %>
          </h2>

        </div>
        <div class="column is-one-quarter"></div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        <p class="title is-1"><%= Statement.count %></p>
        <p class="subtitle is-3">statements</p>
      </div>
      <div class="column">
        <p class="title is-1"><%= Sector.with_companies.all.length %></p>
        <p class="subtitle is-3">sectors</p>
      </div>
      <div class="column">
        <p class="title is-1"><%= Country.with_companies.all.length %></p>
        <p class="subtitle is-3">countries</p>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column">
        <%= link_to 'Submit a statement', new_company_statement_companies_path, class: 'button is-medium is-primary' %>

        <a class="button is-medium is-primary">
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>Download statements</span>
        </a>
      </div>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <figure class="image is-96x96">
          <a href="https://blogs.wsj.com/riskandcompliance/2017/03/14/the-morning-risk-report-teething-problems-complying-with-u-k-modern-slavery-act/">
            <%= image_tag 'Carbon_WSj.png', alt: "Wall Street Journal" %>
          </a>
        </figure>
      </div>
      <div class="column is-2">
        <figure class="image is-96x96">
          <a href="https://www.ft.com/content/d8147d76-e22d-11e5-9217-6ae3733a2cd1">
            <%= image_tag 'FTCarbon.png', alt: "Financial Times" %>
          </a>
        </figure>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>
