<h1 class="title is-1">Modern Slavery Act Registry</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Financial year</th>
      <th>Signed by director</th>
      <th>Approved by board</th>
      <th>Link on front page</th>
    </tr>
  </thead>
  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <th><%= link_to(statement.company.name, statement.company) %></th>
        <td><%= link_to('2016', statement.url, 'data-content' => 'statement-url') %></td>
        <td><%= yes_no(statement.signed_by_director) %></td>
        <td><%= yes_no(statement.approved_by_board) %></td>
        <td><%= yes_no(statement.link_on_front_page) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
