<section class="hero is-dark-navy">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
          <h2 class="subtitle has-text-centered">
            Find out what companies worldwide
            are doing to eradicate modern slavery from their
            operations and supply chains. Explore company
            reports made under the UK Modern Slavery Act.
          </h2>

          <%= form_tag explore_path, method: :get do %>
            <div class="field has-addons">
              <p class="control is-expanded">
                <%= text_field_tag :company_name, params[:company_name],
                    class: 'input is-medium is-hero',
                    autofocus: true,
                    placeholder: 'Company' %>
              </p>
              <p class="control">
                <%= submit_tag 'Search', class: "button is-primary is-medium" %>
              </p>
            </div>
          <% end %>
          <br>
          <h2 class="subtitle has-text-centered">
            <%= link_to "Browse all statements", explore_path %>
          </h2>

        </div>
        <div class="column is-one-quarter"></div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        <p class="title is-1"><%= Statement.count %></p>
        <p class="subtitle is-3">statements</p>
      </div>
      <div class="column">
        <p class="title is-1"><%= Sector.with_companies.all.length %></p>
        <p class="subtitle is-3">sectors</p>
      </div>
      <div class="column">
        <p class="title is-1"><%= Country.with_companies.all.length %></p>
        <p class="subtitle is-3">countries</p>
      </div>
    </div>
    <div class="columns has-text-centered">
      <div class="column">
        <%= link_to 'Submit a statement', new_company_statement_companies_path, class: 'button is-medium is-primary' %>

        <a class="button is-medium is-primary">
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>Download statements</span>
        </a>
      </div>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image">
          <a href="http://corporate-responsibility.org">
            <%= image_tag 'CORE.png', alt: "CORE" %>
          </a>
      </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://knowthechain.org">
            <%= image_tag 'KTC.png', alt: "KTC" %>
          </a>
      </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://humanityunited.org">
            <%= image_tag 'HumanityUnited.png', alt: "Humanity United" %>
          </a>
      </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://www.antislavery.org">
            <%= image_tag 'AntiSlavery.png', alt: "Anti Slavery" %>
          </a>
      </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="http://freedomfund.org">
            <%= image_tag 'FreedomFund.png', alt: "Freedom Fund" %>
          </a>
      </figure>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image">
          <a href="http://www.labourexploitation.org">
            <%= image_tag 'FLEX.png', alt: "FLEX" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="http://www.ethicaltrade.org">
            <%= image_tag 'ETI.png', alt: "ETI" %>
          </a>
      </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://www.unicef.org.uk">
            <%= image_tag 'UNICEF.png', alt: "UNICEF" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://www.freedomunited.org">
            <%= image_tag 'FreedomUnited.png', alt: "Freedom United" %>
          </a>
      </figure>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>
