<section class="hero is-dark-navy">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
          <h2 class="subtitle has-text-centered">
            Find out what companies worldwide
            are doing to eradicate modern slavery from their
            operations and supply chains.
          </h2>

          <%= form_tag explore_path, method: :get, enforce_utf8: false do %>
            <div class="field has-addons">
              <p class="control is-expanded">
                <%= text_field_tag :company_name, params[:company_name],
                    class: 'input is-medium is-hero',
                    autofocus: true,
                    placeholder: 'Company' %>
              </p>
              <p class="control">
                <%= submit_tag 'Search', name: '', class: "button is-primary is-medium" %>
              </p>
            </div>
          <% end %>
        </div>
        <div class="column is-one-quarter">
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-quarter has-text-centered">
          <a href="https://business-humanrights.org/">
            <span class="powered-by">Powered by</span> <%= image_tag 'bhrrc.png', alt: "Business & Human Rights Resource Centre" %>
          </a>
        </div>
        <div class="column is-half">
          <h2 class="subtitle has-text-centered">
            <%= link_to "Browse all statements", explore_path %>
          </h2>
        </div>
        <div class="column is-one-quarter has-text-centered">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section yellow-background">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-3">FTSE 100 & the UK Modern Slavery Act:<br>
          From Disclosure to Action</h1>
        <%= link_to 'Download report', "https://www.business-humanrights.org/sites/default/files/FTSE%20100%20Briefing%202018.pdf",
          class: 'button is-medium is-primary' %>
      </div>
      <div class="column">
        <h2 class="title is-4">
          Read the third annual assessment of reporting under the Modern Slavery
          Act by the UK’s largest companies. Find the highest and lowest scoring
          companies, an analysis of trends, and examples of good practice.
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns" data-content="stats_counters">

      <div class="column is-3">
        <div class="columns">
          <div class="column is-one-quarter">
            <%= image_tag 'icon-gb.svg', class: 'image' %>
          </div>
          <div class="column">
            <h2 class="title is-4">
              UK Modern Slavery Act
            </h2>
          </div>
        </div>
        <div class="columns">
          <div class="column is-offset-3">
            <p class="title is-5">
              <span data-content="uk_statements">
                <%= @statement_stats.uk_statements_count %>
              </span>
              <%= "statement".pluralize(@statement_stats.uk_statements_count) %>
            </p>
            <p class="title is-5">
              <span data-content="uk_companies">
                <%= @statement_stats.uk_companies_count %>
              </span>
              <%= "company".pluralize(@statement_stats.uk_companies_count) %>
            </p>
          </div>
        </div>
      </div>

      <div class="column is-3 is-offset-1">
        <div class="columns">
          <div class="column is-one-quarter">
            <%= image_tag 'icon-us.svg', class: 'image' %>
          </div>
          <div class="column">
            <h2 class="title is-4">
              California TISCA
            </h2>
          </div>
        </div>
        <div class="columns">
          <div class="column is-offset-3">
            <p class="title is-5" >
              <span data-content="us_statements">
                <%= @statement_stats.california_statements_count %>
              </span>
              <%= "statement".pluralize(@statement_stats.california_statements_count) %>
            </p>
            <p class="title is-5">
              <span data-content="us_companies">
                <%= @statement_stats.california_companies_count %>
              </span>
              <%= "company".pluralize(@statement_stats.california_companies_count) %>
            </p>
          </div>
        </div>
      </div>

      <div class="column is-3 is-offset-1">
        <div class="columns">
          <div class="column is-one-quarter">
            <%= image_tag 'icon-au.svg', class: 'image' %>
          </div>
          <div class="column">
            <h2 class="title is-4">
              Australian Modern Slavery Act
            </h2>
          </div>
        </div>
        <div class="columns">
          <div class="column is-offset-3">
            <p class="title is-5">
              <a href="https://www.business-humanrights.org/en/inquiry-into-establishment-of-a-modern-slavery-act-in-australia">
                Coming soon...
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="columns has-text-centered">
      <div class="column"></div>
      <div class="column">
        <%= link_to 'Submit a statement', new_company_path,
          class: 'button is-medium is-primary' %>
      </div>
      <div class="column">
        <% if numbers_explained_page %>
          <%= link_to "More information", page_path(numbers_explained_page),
            class: 'button is-medium is-primary' %>
        <% end %>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>

<section class="section is-dark-navy">
  <% if admin? %>
  <div id="stats-carousel" class="Wallop Wallop--slide">
    <div class="Wallop-list stats-summary container">
      <div class="Wallop-item">
        <%= render partial: 'compliance_stats' %>
      </div>
      <div class="Wallop-item">
        <%= render partial: 'total_statements_over_time' %>
      </div>
    </div>
    <div class="Wallop-pagination">
      <button class="Wallop-dot Wallop-dot--current">Compliance</button>
      <button class="Wallop-dot">Cumulative number of statements</button>
    </div>
  </div>
<% else %>
  <div class="stats-summary container">
    <%= render partial: 'compliance_stats' %>
  </div>
<% end %>
</section>

<section class="section yellow-background">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h3 class="title is-3 has-text-centered">In the media</h3>
        <figure class="image is-128x128 media-coverage">
          <a href="https://blogs.wsj.com/riskandcompliance/2017/03/14/the-morning-risk-report-teething-problems-complying-with-u-k-modern-slavery-act/">
            <%= image_tag 'Carbon_WSj.png', alt: "Wall Street Journal", class: 'media-coverage' %>
          </a>
        </figure>
        <figure class="image is-128x128 media-coverage">
          <a href="https://www.ft.com/content/d8147d76-e22d-11e5-9217-6ae3733a2cd1">
            <%= image_tag 'FTCarbon.png', alt: "Financial Times", class: 'media-coverage' %>
          </a>
        </figure>
      </div>
      <div class="column">
        <h3 class="title is-3 has-text-centered">Endorsements</h3>
        <div id="endorsements-carousel" class="Wallop Wallop--slide">
          <div class="Wallop-pagination">
            <button class="Wallop-dot Wallop-dot--current">Endorsement 1</button>
            <button class="Wallop-dot">Endorsement 2</button>
            <button class="Wallop-dot">Endorsement 3</button>
            <button class="Wallop-dot">Endorsement 4</button>
            <button class="Wallop-dot">Endorsement 5</button>
            <button class="Wallop-dot">Endorsement 6</button>
            <button class="Wallop-dot">Endorsement 7</button>
            <button class="Wallop-dot">Endorsement 8</button>
            <button class="Wallop-dot">Endorsement 9</button>
            <button class="Wallop-dot">Endorsement 10</button>
            <button class="Wallop-dot">Endorsement 11</button>
          </div>
          <div class="Wallop-list">
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Joanna Ewart-James",
                title: "Executive Director, Freedom United",
                quote: "This Registry is a fantastic resource for everyone in business, civil society and government wanting to eradicate modern slavery. Millions of activists can now use the Registry to review companies' efforts and we will be highlighting the better-informed company statements as examples of analysis and commitment to be emulated."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Cindy Berman",
                title: "Director, Ethical Trading Initiative",
                quote: "The Business and Human Rights Resource Centre provides the only independent, credible, free, open, and accessible Central Registry for Modern Slavery Statements that is accountable to the public interest. ETI feels it is vital that there is an independent platform that enables key stakeholders to review and analyse Statements to help drive a race to the top."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Josh Boswell",
                title: "Investigative Journalist, The Times",
                quote: "This registry is an important tool for journalists who are monitoring company statements under the Act. It is critical that these statements are accessible in one place so we can identify companies that aren't meeting the mark in eradicating slavery."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Marilyn Croser",
                title: "Director, CORE Coalition",
                quote: "The Registry is an invaluable resource for anyone interested in corporate action on slavery and human trafficking. As more statements are published, a tool that enables company responses to be tracked and compared is essential."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Erinch Sahan",
                title: "Head of Private Sector Team, Oxfam",
                quote: "The Resource Centre’s Registry makes it far less resource intensive to learn from what others are doing and to identify which companies are being proactive. This is one crucial step towards allowing companies, investors and wider stakeholders to work together to innovate business models which allow people to work their way out of poverty."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Nick Grono",
                title: "CEO, The Freedom Fund",
                quote: "This free, transparent and accessible registry is an invaluable tool for the public, civil society, parliamentarians, the government, investors and others to review and analyse the statements companies are making under the Modern Slavery Act. It is vital in helping us all ensure companies are doing all they can to eliminate the scourge of modern slavery."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Jon Hoare",
                title: "Former Director of Policy, ShareAction",
                quote: "The Modern Slavery Act needs responsible investors to hold companies to account on their actions to tackle the risks of forced labour, celebrating the leaders and putting pressure on the laggards. The Registry is a fantastic tool for investors, and their advisers, to compare companies' statements, and encourage the race to the top."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Jo Swinson",
                title: "Business Minister 2012-15",
                quote: "Transparency is an important tool to drive responsible corporate behaviour and good governance. The Registry is a useful resource to help investors, commentators, the public and companies themselves to understand the progress business is making in upholding vital human rights and consigning slavery to the history books where it belongs."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Francis West",
                title: "Former Head of Private Sector Policy & Advocacy, UNICEF UK",
                quote: "The purpose of the Modern Slavery Act is to prevent modern slavery – including that of children – in supply chains by enabling the public, consumers, investors and employees to know what steps that organisations are taking to address the issue. Without the transparent, free-to-access, open source registry that BHRRC provides, this would be incredibly challenging. We fully support this initiative."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Tony Fisher",
                title: "Chair of the Human Rights Committee, The Law Society",
                quote: "The Registry is a critical instrument in monitoring statements relating to modern slavery. It is vital in holding companies to account, and making sure they follow the spirit, as well as the letter, of the law."
              } %>
            </div>
            <div class="Wallop-item">
              <%= render partial: 'endorsement_quote', locals: {
                name: "Rev. David Schilling",
                title: "Interfaith Center on Corporate Responsibility",
                quote: "Today, investors are much more aware of the forced labour risks faced by workers and the risk that companies face from poorly managed supply chains where human rights abuses may tarnish a company’s reputation and adversely impact long-term value. The Registry allows investors to integrate and assess the risk of modern slavery in their portfolios. ICCR members appreciate the Business & Human Rights Resource Centre providing this service for investors and other stakeholders."
              } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/governance_committee_members" %>
