<%= form_tag explore_path, method: :get do %>

  <div class="columns">
    <div class="column">
      <%= horizontal_bar_chart @section_chart_data, {
        width: 500,
        height: 400,
        responsive: false
      } %>
    </div>
    <div class="column">
      <div id="country-map"></div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <p class="control is-expanded">
          <%=
          select_tag(
            'sectors[]',
            options_from_collection_for_select(
              Sector.with_companies.order(:name),
              :id,
              :name,
              params[:sectors]
            ),
            {
              include_blank: true,
              multiple: true,
              class: 'selectize-select',
              placeholder: 'All sectors'
            }
          )
          %>
        </p>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <p class="control is-expanded">
          <%=
          select_tag(
            'countries[]',
            options_from_collection_for_select(
              Country.with_companies.order(:name),
              :id,
              :name,
              params[:countries]
            ),
            {
              include_blank: true,
              multiple: true,
              class: 'chosen-select',
              'data-placeholder': 'All countries'
            }
          )
          %>
        </p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="field has-addons">
        <p class="control is-expanded">
          <%= text_field_tag :company_name, params[:company_name], class: 'input is-medium',
              placeholder: 'Company' %>
        </p>
        <p class="control">
          <%= submit_tag 'Search', class: "button is-info is-medium" %>
        </p>
      </div>
    </div>

  </div>

<% end %>
