<div class="container">
  <div class="section">
    <h2 class="title is-5"><%= @company.statements.any? ? 'Submit Statement' : 'Submit Company' %></h2>

    <%= form_for @company do |f| %>
      <% if @company.errors.any? %>
        <div class="notification is-danger">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this statement from being saved:</h2>

          <ul>
          <% @company.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= render partial: 'company_fields', locals: { f: f } %>

      <%= f.fields_for :statements do |b| %>
        <%= render partial: 'statements/statement_fields', locals: { f: b } %>
      <% end %>

      <div class="field">
        <p class="control">
          <%= f.button "Submit", class: 'button is-primary' %>
          <%= link_to('Cancel', root_path, class: 'button') %>
        </p>
      </div>
    <% end %>
  </div>
</div>
