<h1 class="title is-1"><%= @company.name %></h1>

<div class="columns">
  <div class="column">
    <%= form_for [@company, @statement] do |f| %>
      <div class="field">
        <%= f.label :url, 'Statement URL', class: 'label' %>
        <p class="control">
          <%= f.text_field :url, class: "input" %>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <%= f.label :signed_by_director, class: 'label' do %>
            <%= f.check_box :signed_by_director %>
            Signed by director
          <% end %>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <%= f.button "Register", class: 'button is-primary' %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="column">
    Create a new company
  </div>
</div>

<table>
  <tbody>
    <% @company.statements.each do |statement| %>
      <tr>
        <th data-content="statement-url"><%= statement.url %></th>
        <th><%= statement.signed_by_director %></th>
      </tr>
    <% end %>
  </tbody>
</table>
