<% title @company.name %>

<div class="container">
  <div class="section" data-content="company">
    <h2 class="title is-3" data-content="company_name"><%= @company.name %></h2>

    <h3 class="title is-5"><%= link_to 'Submit Statement', new_company_statement_path(@company) %></h3>
  </div>

  <div class="section">
    <h3 class="title is-5">Statements</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date seen</th>
          <% if admin? %>
            <th>Signed by director</th>
            <th>Approved by board</th>
            <th>Link on front page</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @company.statements.each do |statement| %>
          <tr data-content="statement">
            <td><%= link_to(statement.date_seen, [@company, statement], {'data-content': 'date_seen'}) %></td>
            <% if admin? %>
              <td><%= yes_no(statement.signed_by_director) %></td>
              <td><%= yes_no_not_explicit(statement.approved_by_board) %></td>
              <td><%= yes_no(statement.link_on_front_page) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
