<% title 'Admin: Stats' %>

<div class="container">
  <div class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li class="is-active"><a href="#" aria-current="stats">Stats</a></li>
      </ul>
    </nav>

    <div class="columns">
      <div class="column">
        <h1 class="title is-1">
          Stats
        </h1>
      </div>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">Published Statement Compliance Stats</h2>
      <table data-content="minimum_compliance_requirements_stats" class="table is-fullwidth">
        <tbody>
          <tr>
            <td>
              Link on front page
            </td>
            <td data-content="Percent link on front page">
              <%= @compliance_stats.percent_link_on_front_page %>%
            </td>
          </tr>
          <tr>
            <td>
              Signed by director
            </td>
            <td data-content="Percent signed by director">
              <%= @compliance_stats.percent_signed_by_director %>%
            </td>
          </tr>
          <tr>
            <td>
              Approved by board
            </td>
            <td data-content="Percent approved by board">
              <%= @compliance_stats.percent_approved_by_board %>%
            </td>
          </tr>
          <tr>
            <td>
              Yes to all minimum compliance questions
            </td>
            <td data-content="Percent fully compliant">
              <%= @compliance_stats.percent_fully_compliant %>%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="subsection">
    <div class="box">
      <h2 class="title is-2">Statements Added over time</h2>
      <h3 class="title is-3">Under the UK and California legislation</h3>

      <div id="total_statements_over_time">
        <canvas width="340" height="105"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
function renderTotalStatementsOverTime(totalByMonth) {
  var $container = $(document.getElementById('total_statements_over_time'))
  var $canvas = $container.find('canvas')

  Chart.defaults.global.defaultFontColor = 'rgb(75, 192, 192)';

  new Chart($canvas[0].getContext("2d"), {
    type: "line",
    data: {
      "labels": totalByMonth.map(function(month) { return month.label }),
      "datasets":[
        {
          "label":"Cumulative Total",
          "data": totalByMonth.map(function(month) { return month.statements }),
          "fill":false,
          "borderColor":"rgb(255, 205, 0)",
          "lineTension": 0.1,
          "yAxisID": "y-axis-1"
        },
        {
          "label":"<%= Legislation::UK_NAME %>",
          "data": totalByMonth.map(function(month) { return month.uk_act }),
          "fill":false,
          "borderColor":"rgb(75, 192, 192)",
          "lineTension": 0.1,
          "yAxisID": "y-axis-1"
        },
        {
          "label":"<%= Legislation::CALIFORNIA_NAME %>",
          "data": totalByMonth.map(function(month) { return month.us_act }),
          "fill":false,
          "borderColor":"rgb(75, 192, 192)",
          "lineTension": 0.1,
          "yAxisID": "y-axis-1"
        }
      ]
    },
    options: {
      legend: { display: false },
      scales: {
        yAxes: [
          { type: 'linear',
            display: true,
            position: 'left',
            id: 'y-axis-1' }
        ],
      }
    }
  })
};

renderTotalStatementsOverTime(<%= raw @statement_stats.total_statements_over_time.to_json %>)
</script>
