<%= form_tag explore_path, enforce_utf8: false, method: :get, class: "statements-search-form", "aria-hidden": @search.searching_by_conditions? && @results.any? ? "true" : "false" do %>
  <h5>
    Find a company
  </h5>
  
  <div class="search-row">
    <div class="search-column">
      <div class="form-group">
        <label for="search-name" class="form-label">Company name</label>
        <%= text_field_tag :company_name, params[:company_name], class: 'form-control form-control--full', id: "search-name", type: "search" %>
      </div>
    </div>
  </div>

  <p class="or" aria-hidden="true"></p>

  <h5>
    Search by
  </h5>
  
  <div class="search-row">
    <div class="search-column">
      <div class="form-group">
        <label for="search-keywords" class="form-label">Keyword(s) mentioned in statements</label>
        <%=
          select_tag(
            'keywords[]',
            grouped_options_for_select(
              [["Suggested keywords", CompanySearchForm::KEYWORD_VALUES.map(&:humanize)]],
              params[:keywords]
            ),
            {
              multiple: true,
              class: 'keywords-select'
            }
          )
        %>
      </div>
    </div>
    <div class="search-column search-column--double">
      <fieldset class="form-group">
        <legend class="form-label form-label--visuallyhidden">Keywords search method</legend>

        <div class="radios radios--inline">
          <div class="radio">
            <%= radio_button_tag :include_keywords, :yes, params[:include_keywords] != "no", id: "search-include-keywords-yes" %>
            <label for="search-include-keywords-yes" class="form-label">
              Show results mentioning keywords
            </label>
          </div>
          <div class="radio">
            <%= radio_button_tag :include_keywords, :no, params[:include_keywords] == "no", id: "search-include-keywords-not-no" %>
            <label for="search-include-keywords-not-no" class="form-label">
              Show results not mentioning keywords
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="search-row search-row--align-top">
    <div class="search-column">
      <div class="form-group">
        <label class="form-label" for="search-industries">Industry</label>
        <%=
          select_tag(
            'industries[]',
            options_from_collection_for_select(
              Industry.with_companies.order(:name),
              :id,
              :name,
              params[:industries]
            ),
            {
              multiple: true,
              class: 'multiple-select',
              id: "search-industries",
              'data-placeholder': 'Select industry',
              'data-color': "yellow"
            }
          )
        %>
      </div>
    </div>
    <div class="search-column">
      <div class="form-group">
        <label class="form-label" for="search-legislations">Legislation</label>
          <%=
          select_tag(
            'legislations[]',
            options_from_collection_for_select(
              Legislation.all.order(:id),
              :id,
              :name,
              params[:legislations]
            ),
            {
              multiple: true,
              class: 'multiple-select',
              id: "search-legislations",
              'data-placeholder': 'Select legislation',
              'data-color': "purple"
            }
          )
        %>
      </div>
    </div>
    <div class="search-column">
      <div class="form-group">
        <label class="form-label" for="search-countries">Region/Country</label>
        <%=
        select_tag(
          'countries[]',
          options_from_collection_for_select(
            Country.with_companies.order(:name),
            :id,
            :name,
            params[:countries]
          ),
          {
            multiple: true,
            class: 'multiple-select',
            id: "search-countries",
            'data-placeholder': 'Select region/country',
              'data-color': "blue"
          }
        )
        %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <%= check_box_tag :only_assessed, true, params[:only_assessed] == "true", id: "search-only-assessed" %>
      <label for="search-only-assessed">
        Show only companies with statements assessed and scored by us
      </label>
    </div>
  </div>
  
  <div class="form-actions">
    <%= submit_tag 'Search', name: '', enforce_utf8: false, class: "button is-primary search-button" %>
    <%= link_to "Clear", explore_path, class: "button button--link" %>
  </div>
<% end %>
