<%= form_tag explore_path, enforce_utf8: false, method: :get, class: 'statements-search-form' do %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Industries</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%=
          select_tag(
            'industries[]',
            options_from_collection_for_select(
              Industry.with_companies.order(:name),
              :id,
              :name,
              params[:industries]
            ),
            {
              include_blank: true,
              multiple: true,
              class: 'chosen-select js-auto-submit',
              'data-placeholder': ' '
            }
          )
          %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Countries</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%=
          select_tag(
            'countries[]',
            options_from_collection_for_select(
              Country.with_companies.order(:name),
              :id,
              :name,
              params[:countries]
            ),
            {
              include_blank: true,
              multiple: true,
              class: 'chosen-select js-auto-submit',
              'data-placeholder': ' '
            }
          )
          %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Company</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= text_field_tag :company_name, params[:company_name], class: 'input js-auto-submit' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Legislations</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%=
          select_tag(
            'legislations[]',
            options_from_collection_for_select(
              Legislation.all.order(:id),
              :id,
              :name,
              params[:legislations]
            ),
            {
              include_blank: true,
              multiple: true,
              class: 'chosen-select js-auto-submit',
              'data-placeholder': ' '
            }
          )
          %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control">
          <%= submit_tag 'Search', name: '', enforce_utf8: false, class: "button is-primary search-button" %>
        </div>
        <div class="control">
          <% if @results.any? %>
            <%= link_to @download_url, class: 'button is-primary is-expanded' do %>
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Download search results</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
$('.chosen-select').chosen({
  allow_single_deselect: true,
  inherit_select_classes: true,
  no_results_text: 'No results matched',
  width: '100%'
})

var searchInProgress = false

function performSearch(element) {
  var newUrl = buildSearchUrl($(element).closest('form'))

  if (window.location.href != newUrl) {
    history.replaceState({}, document.title, newUrl)
    if (!searchInProgress) {
      searchInProgress = true
      loadSearchResultsForUrl(newUrl)
    }
  }
}

function buildSearchUrl(form) {
  var qs = form.find(':input').filter(function(i) { return $(this).val() != '' }).serialize()
  return form.attr('action').split('?')[0] + (qs ? '?' + qs : '')
}

function loadSearchResultsForUrl(url) {
  var searchResultsSelector = '[data-content="company_search_results"]'
  var sidebarSelector = '[data-content="statements-search-sidebar"]'
  $(searchResultsSelector).html('')
  $(sidebarSelector).html('')
  return $.get(url)
    .then(function (html) {
      $(searchResultsSelector).html(
        $(html).find(searchResultsSelector).html() || 'No statements found'
      )
      $(sidebarSelector).html($(html).find(sidebarSelector).html())
      if (window.location.href == url) {
        searchInProgress = false
      } else {
        return loadSearchResultsForUrl(window.location.href)
      }
    })
}

$(document).on('change', 'select.js-auto-submit, .js-auto-submit:checkbox', function() {
  performSearch(this)
})

$(document).on('keyup', 'input.js-auto-submit', function() {
  performSearch(this)
})
</script>
