<% title 'Explore' %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <%= render partial: 'search_form' %>
        </div>
        <div class="box" data-content="statements-search-results">
          <% if @search.statements.any? %>
            <%= render partial: 'statements/list', locals: { statements: @search.statements } %>
          <% else %>
            <h2 class="title">No statements found</h2>
            <p>
              We couldn't find a company or statement matching your search.
              If you think the registry is missing a statement for a company,
              you can help by submitting a link to the statement.
            </p>
            <br>
            <p>
              <%= link_to 'Submit a statement', new_company_statement_companies_path,
                class: 'button is-medium is-primary' %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="column is-narrow">
        <div style="width: 450px;">
          <div class="box" style="width: 450px">
            <div id="world-map"></div>
            <div data-content="statements-search-sidebar">
              <div class="level" style="padding: 5px; padding-top: 10px; padding-bottom: 0">
                <strong><%= pluralize @search.statements.size, 'statement' %></strong>
                <% if @search.statements.any? %>
                  <%= link_to 'Download CSV', @download_url %>
                <% end %>
              </div>
              <% stats = @search.sector_stats %>
              <% if stats.any? %>
                <table id="sector-stats">
                  <tbody data-content="sector_stats">
                    <% stats.each do |group_count| %>
                      <tr>
                        <td data-content="sector" style="padding: 5px"><%= group_count.group.name %></td>
                        <td data-content="count" style="padding: 5px; text-align: right"><%= group_count.count %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
