<% title 'Explore' %>

<div class="section section--grey">
  <div class="container">
    <%= render partial: 'search_form' %>
  
    <% if @search.searching_by_conditions? %>
      <div class="search-results-header">
        <h3>
          Search results
        </h3>

        <h5>
          Search criteria <%= link_to "Change search criteria", explore_path, class: "change-search-criteria" %>
        </h5>

        <%= render "search_criteria" %>
      </div>
    <% end %>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="search-results">
      <div class="search-results__results">
        <% if @results.any? %>
          <%= render partial: 'results', locals: { results: @results, search: @search } %>
        <% else %>
          <p>Search criteria</p>
          <%= render "search_criteria" %>
          <br>
          <h5>0 search results</h5>
          <% if @search.filtering_only_by_company_name? %>
            <p>
              Please check your spelling. If you think your spelling is correct, we may not have a statement for the company you are looking for.
            </p>

            <div class="submit-statement">
              <h5>Submit the company's latest statement to the Registry.</h5>
              <%= link_to 'Submit statement', new_company_path, class: 'button button--outline' %>
            </div>
          <% else %>
            <p>
              Please check your spelling or consider having fewer search criteria.
            </p>
          <% end %>
        <% end %>
      </div>
      <% if @results.any? %>
        <%= render "sidebar" %>
      <% end %>
    </div>
  </div>
</section>
