<div class="box">
  <div class="field">
    <%= f.label :url, 'Statement URL', class: 'label' %>
    <p class="control">
      <%= f.text_field :url, class: 'input', onchange: "handle_override_url_change(this.value)" %>

      <%= link_to 'open in new tab', f.object.url, onclick: 'this.href = statement_url.value', id: 'open_statement_link', target: '_blank' %>
      <a onclick="toggle_override_visibility();" id="toggle-override-field" style="float: right; display: <%= f.object.override_url.blank? ? "block" : "none" %>">add override</a>
    </p>
  </div>

  <div class="field" id="override-field" style="display: <%= f.object.override_url.blank? ? "none" : "block" %>;">
    <%= f.label :url, 'Override URL', class: 'label' %>
    <p class="control">
      <%= f.text_field :override_url, class: 'input', onchange: 'handle_override_url_change(this.value)' %>

      <div id="override-controls" style="display: <%= f.object.override_url.blank? ? "none" : "block" %>">
        <%= link_to 'open in new tab', f.object.override_url, id: 'open_statement_override_url_link', target: '_blank' %>
        <a onclick="clear_override();" style="float: right">clear</a>
      </div>
    </p>
  </div>

  <div class="field">
    <%= f.label :period_covered, class: 'label' %>
    <p class="control checkboxes" data-content="Period covered">
      <% 2014.upto(Time.current.year + 2).each do |year| %>
        <label>
          <input type="checkbox" name="<%= f.object_name %>[year_covered][]" value="<%= year %>"
            <% if (f.object.first_year_covered..f.object.last_year_covered).cover?(year) %>
              checked="checked"
            <% end %>
          >
          <%= year %>
        </label>
      <% end %>
    </p>
  </div>

  <div class="field">
    <%= f.label :contributor_email, class: 'label' %>
    <p class="control">
      <%= f.text_field :contributor_email, class: 'input' %>
    </p>
  </div>

  <div class="select is-multiple">
    <%= f.label :additional_companies_covered_ids, 'Additional companies covered', class: 'label' %>
    <p class="control">
      <%= f.select :additional_companies_covered_ids,
                   Company.order(:name).all.collect { |c| [c.name, c.id] },
                   { include_blank: true },
                   { multiple: true, size: '4', class: 'chosen-select' } %>
    </p>
  </div>

  <div class="field" data-content="Legislations">
    <%= f.label :legislations, class: 'label' %>
    <%= f.collection_check_boxes :legislation_ids, Legislation.all.order(:id), :id, :name do |m| %>
      <div class="control">
        <%= m.label do %>
          <%= m.check_box %>
          <%= m.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="columns">

    <div class="field column is-narrow" data-content="Approved by board">
      <%= f.label :approved_by_board, class: 'label' %>
      <label class="radio">
        <%= f.radio_button(:approved_by_board, 'Yes') %>
        Yes
      </label>
      <label class="radio">
        <%= f.radio_button(:approved_by_board, 'No') %>
        No
      </label>
      <label class="radio">
        <%= f.radio_button(:approved_by_board, 'Not explicit') %>
        Not explicit
      </label>
    </div>

    <div class="field column is-narrow" data-content="Signed by director">
      <%= f.label :signed_by_director, class: 'label' %>
      <label class="radio">
        <%= f.radio_button(:signed_by_director, true) %>
        Yes
      </label>
      <label class="radio">
        <%= f.radio_button(:signed_by_director, false) %>
        No
      </label>
    </div>

    <div class="field column" data-content="Link on front page">
      <%= f.label :link_on_front_page, class: 'label' %>
      <label class="radio">
        <%= f.radio_button(:link_on_front_page, true) %>
        Yes
      </label>
      <label class="radio">
        <%= f.radio_button(:link_on_front_page, false) %>
        No
      </label>
    </div>

  </div>

  <div class="field">
    <%= f.label :signed_by, class: 'label' %>
    <p class="control">
      <%= f.text_field :signed_by, class: 'input' %>
    </p>
  </div>

  <div class="field">
    <label class="label">Visibility</label>
    <div class="control">
      <label class="checkbox">
        <%= f.check_box(:published) %>
        Published
      </label>
    </div>
  </div>
</div>

<script>
$('.chosen-select').chosen({
  inherit_select_classes: true,
  no_results_text: 'No companies matching',
  width: '100%'
})

$('#statement_override_url').bind('input', function() { 
  document.getElementById("override-controls").style.display = $(this).val().length > 0 ? 'initial' : 'none'
});

function handle_override_url_change(url) {
  document.getElementById("open_statement_override_url_link").href = url;
}

function clear_override(event) {
  document.getElementById("statement_override_url").value = "";
  document.getElementById("override-controls").style.display = 'none';
}

function toggle_override_visibility() {
  let override_field = document.getElementById("override-field");
  if (override_field.style.display === 'none') {
    override_field.style.display = 'block';
  } else {
    override_field.style.display = 'none';
  }
}
</script>
