<div class="box">
  <div class="field">
    <%= f.label :url, 'Statement URL', class: 'label' %>
    <p class="control">
      <%= f.text_field :url, class: 'input', onchange: 'document.getElementById("open_statement_link").href = this.value' %>

      <%= link_to 'open in new tab', f.object.url, onclick: 'this.href = statement_url.value', id: 'open_statement_link', target: '_blank' %>
    </p>
  </div>

  <div class="field">
    <%= f.label :period_covered, class: 'label' %>
    <p class="control checkboxes" data-content="Period covered">
      <% 2014.upto(Time.current.year + 2).each do |year| %>
        <label>
          <input type="checkbox" name="statement[year_covered][]" value="<%= year %>"
            <% if (f.object.first_year_covered..f.object.last_year_covered).cover?(year) %>
              checked="checked"
            <% end %>
          >
          <%= year %>
        </label>
      <% end %>
    </p>
  </div>

  <div class="field">
    <%= f.label :contributor_email, class: 'label' %>
    <p class="control">
      <%= f.text_field :contributor_email, class: 'input' %>
    </p>
  </div>

  <div class="field" data-content="Legislations">
    <%= f.label :legislations, class: 'label' %>
    <%= f.collection_check_boxes :legislation_ids, Legislation.all.order(:id), :id, :name do |m| %>
      <div class="control">
        <%= m.label do %>
          <%= m.check_box %>
          <%= m.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="columns">

    <div class="field column is-narrow" data-content="Approved by board">
      <%= f.label :approved_by_board, class: 'label' %>
      <label class="radio">
        <%= f.radio_button(:approved_by_board, 'Yes') %>
        Yes
      </label>
      <label class="radio">
        <%= f.radio_button(:approved_by_board, 'No') %>
        No
      </label>
      <label class="radio">
        <%= f.radio_button(:approved_by_board, 'Not explicit') %>
        Not explicit
      </label>
    </div>

    <div class="field column is-narrow" data-content="Signed by director">
      <%= f.label :signed_by_director, class: 'label' %>
      <label class="radio">
        <%= f.radio_button(:signed_by_director, true) %>
        Yes
      </label>
      <label class="radio">
        <%= f.radio_button(:signed_by_director, false) %>
        No
      </label>
    </div>

    <div class="field column" data-content="Link on front page">
      <%= f.label :link_on_front_page, class: 'label' %>
      <label class="radio">
        <%= f.radio_button(:link_on_front_page, true) %>
        Yes
      </label>
      <label class="radio">
        <%= f.radio_button(:link_on_front_page, false) %>
        No
      </label>
    </div>

  </div>

  <div class="field">
    <%= f.label :signed_by, class: 'label' %>
    <p class="control">
      <%= f.text_field :signed_by, class: 'input' %>
    </p>
  </div>

  <div class="field">
    <label class="label">Visibility</label>
    <div class="control">
      <label class="checkbox">
        <%= f.check_box(:published) %>
        Published
      </label>
    </div>
  </div>
</div>
