<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <div class="nav-menu nav-center">
          <%= link_to 'Home', root_path, class: 'nav-item' %>
          <%= link_to 'Browse statements', explore_path, class: 'nav-item' %>
          <% footer_nav_links.each do |title, path| %>
            <%= link_to title, path, class: 'nav-item' %>
          <% end %>
        </div>
      </p>
      <p>
        <strong>Modern Slavery Registry</strong> by <a href="https://business-humanrights.org/">Business &amp; Human Rights Resource Centre</a>
      </p>
      <p>
        <% if user_signed_in? %>
          <% if admin? %>
            <%= link_to 'Admin', admin_dashboard_path %>&nbsp;&nbsp;&nbsp;
          <% end %>
          <%= link_to('Log out', destroy_user_session_path, method: 'delete') %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </p>
    </div>
  </div>
</footer>
