<section class="section governance-committee-members">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image">
          <a href="http://corporate-responsibility.org">
            <%= image_tag 'CORE.png', alt: "CORE" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://knowthechain.org">
            <%= image_tag 'KTC.png', alt: "KTC" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://humanityunited.org">
            <%= image_tag 'HumanityUnited.png', alt: "Humanity United" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://www.antislavery.org">
            <%= image_tag 'AntiSlavery.png', alt: "Anti Slavery" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="http://freedomfund.org">
            <%= image_tag 'Oxfam_Carbon.png', alt: "Oxfam" %>
          </a>
        </figure>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image">
          <a href="http://www.labourexploitation.org">
            <%= image_tag 'FLEX.png', alt: "FLEX" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="http://www.ethicaltrade.org">
            <%= image_tag 'ETI.png', alt: "ETI" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://www.unicef.org.uk">
            <%= image_tag 'UNICEF.png', alt: "UNICEF" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://www.freedomunited.org">
            <%= image_tag 'FreedomUnited.png', alt: "Freedom United" %>
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image">
          <a href="https://www.oxfam.org.uk/">
            <%= image_tag 'FreedomFund.png', alt: "Freedom Fund" %>
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
