<div class="is-dark-navy">
  <div class="container">
    <nav class="nav is-dark-navy">
      <div class="nav-left">
        <div class="nav-item">
          <a href="/admin">
            Modern Slavery Registry Admin
          </a>
        </div>
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        <%= link_to "Pages", admin_pages_path, class: 'nav-item' %>
        <%= link_to "Users", admin_users_path, class: 'nav-item' %>
        <%= link_to('Log out', destroy_user_session_path, method: 'delete', class: 'nav-item') %>
      </div>
    </nav>

    <div class="container has-text-centered">
      <% if notice %>
        <div class="notification is-primary"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="notification is-danger"><%= alert %></div>
      <% end %>
    </div>
  </div>
</div>
