<div class="is-dark-navy">
  <div class="container">
    <nav class="nav is-dark-navy">
      <div class="nav-left">
        <div class="nav-item">
          <a href="/">
            <%= image_tag 'msr_logo_rgb_w.png', alt: "Modern Slavery Registry" %>
          </a>
        </div>
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        <%= link_to "About us", about_us_path, class: 'nav-item' %>
        <%= link_to "Reporting guidance", reporting_guidance_path, class: 'nav-item' %>
        <%= link_to "Contact us", contact_us_path, class: 'nav-item' %>
      </div>
    </nav>

    <div class="container has-text-centered">
      <% if notice %>
        <div class="notification is-primary"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="notification is-danger"><%= alert %></div>
      <% end %>
    </div>
  </div>
</div>
