<header class="is-dark-grey">
  <div class="container">
    <nav class="nav is-dark-grey">
      <div class="nav-left">
        <div class="nav-item">
          <a href="/admin">
            <%= image_tag 'logo-admin.png', alt: "Modern Slavery Registry" %>
          </a>
        </div>
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        <%= link_to "Companies", admin_companies_path, class: 'nav-item' %>
        <%= link_to "Pages", admin_pages_path, class: 'nav-item' %>
        <%= link_to "Calls to Action", admin_call_to_actions_path, class: 'nav-item' %>
        <%= link_to "Users", admin_users_path, class: 'nav-item' %>
        <%= link_to "Stats", admin_stats_path, class: 'nav-item' %>
        <%= link_to('Log out', destroy_user_session_path, method: 'delete', class: 'nav-item') %>
      </div>
    </nav>

    <div class="container has-text-centered">
      <% if notice %>
        <div class="notification is-primary"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="notification is-danger"><%= alert %></div>
      <% end %>
    </div>
  </div>
</header>
